<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="all">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="hc.liao588.top" />
                    </conditions>
                    <action type="Rewrite" url="http://211.149.129.73:3008/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>    